block vars
  - var bodyClass = 'darkRed'
  - var titre = 'Présentation'

extends layout

block content
  div.col.half
    h2 Presentation
    p Le Musée du Bouton est un petit musée privé dans la belle campagne glânoise. Il se situe en haut d’une verte colline où paissent des troupeaux de vaches noires et blanches. Une très vieille ferme fribourgeoise en bois (1727) sert d’écrin à une belle collection de boutons, pour la plupart sortie des boîtes à boutons et ouvrages de nos grand-mamans.
    h3 Un rêve
    p Le Musée est né d’un rêve, fait par Nicola Beaupain, créatrice et propriétaire du lieu.
    :markdown
      Sa grand-maman lui avait légué sa boite à boutons ainsi que son joli panier à ouvrage. N’étant plus très jeune, elle se demandait : **«Que vont devenir ces boutons? Iront-ils à la déchetterie?»**. Non ça n’est pas possible!

      Le lendemain, un rêve lui a dit : **«Tu n’as qu’à faire un musée autour de ces boutons-là et tu vas les entourer d’autres boutons de grand-mères de la région, du pays et d’ailleurs»**. Et c’est ainsi que cela a commencé. Beaucoup de boîtes à boutons sont venues et il y en a eu assez pour remplir les deux étables rénovées du rural, ainsi que le long couloir de la grange. 
      
      ### L’association
      
      Afin de soutenir la créatrice du Musée, l’Association de la Haute Ferme du Vert Pays a été créée. Elle garantit, grâce à son comité et ses aides bénévoles, la bonne marche du Musée et de ses activités.
      
      ### Dons et legs
      
      Le Musée est très jeune, son ouverture date du 6 octobre 2012… et il s’enrichit de semaines en semaines, de mois en mois, de nouveaux dons et legs.
      
      **Les Amis du Musée**, grâce à leurs soutiens financiers, aident le musée à évoluer et à présenter plusieurs animations au cours de l’année.
      
      ### Expositions et animations
      Quelques très vieux boutons nous viennent du 16e siècle des Pays-Bas, d’autres de Chine, de Ceylan, d’Afghanistan et de Laponie. 
      
      Grâce à un groupe de dames bénévoles et bonnes couturières, nommées les « petites mains », ces boutons ont été cousus et réunis dans des tableaux. La première
  .col.half
    h2 Portrait
    img.full(src="/img/photo-maman-Migros.jpg", alt="Nicola Beaupain")
    p Tffic tet, expero quat etur susam res resed molum rem fugia id quis debis qui debitium autas accusanto tem volorer chilluptae non rehenderume sim idunt fuga. Nem essuntiis aut quam, ium voluptatis quaectetur mos dunt volor res peribus, cusant iume iur? Quis et ium fugit ex et etumquatatam am qui te aceaque perovitempor sit et elitatemque quia volut et utatiore consent ut utent.
    p Optatis ra nobitatem volentin porro eruptatecae voles essum facilla cepellam qui dem alissitin earundu stiustion cus, inveni ipidem que min pratur sam rende voles cumquia voluptassim si conserum non expedis volum et omnihiligent porest, qui quo dus acernatur aut estibust ellabore, volorisit, officto que rae non cupta volesed itiunt quid mi, tendi tem. Et qui si aut ut la sunt ut vent rem idusame eseditatur?
    p Aquo to et aut ma qui ipid ut quiatia pa volo bearum quatureped minis doluptiam autas autenti ossedi bla que excerna tquatur.