extends layout

block vars
  - var bodyClass = 'diaporama'
  - var titre = 'Bienvenu'
    
block diaporama
  #diaporama
    img(src="/img/diaporama/image-1.jpg", alt="Image 1")
    img(src="/img/diaporama/image-2.jpg", alt="Image 2")
    img(src="/img/diaporama/image-3.jpg", alt="Image 3")