extends layout

block content
  div.col.half
    h1.h2 Le programme
    h3.marginBottom2 Saison 2014 - 2015 
    .event
      h5 Exposition permanente 
      h4 «Matières, matières...»
      img(src='/img/vignette-14-15.jpg', alt="matière matière thumb")
    .event
      h5 Exposition thématique
      h4 «C’EST ÉCRIT» Abécédaires brodés
      img.shadow(src='/img/abcdaire-brode.jpg', alt='Abécédaires brodé, thumb')
    .event
      h5 Exposition extraordinaire
      h4 Le Musée sort de ses murs
      p Une mise en mouvement du musée afin de se 
        br
        | de celles et ceux qui ne peuvent se 
        br
        | déplacer.
      datetime Le 28 Mars 2015 à 15h
      p Hall du Hôme du HFR de Billens (FR).
      a.viewmore(href='#') Plus d’informations
      div.more
        p Tffic tet, expero quat etur susam res resed molum rem fugia id quis debis qui debitium autas accusanto tem volorer chilluptae non rehenderume sim idunt fuga. Nem essuntiis aut quam, ium voluptatis quaectetur mos dunt volor res peribus, cusant iume iur? Quis et ium fugit ex et etumquatatam am qui te aceaque perovitempor sit et elitatemque quia volut et utatiore consent ut utent.


  .col.half
    h2 Les horaires
    h3.marginBottom2 Printemps / été 2015
    p 
      | Tous les samedis 
      br
      | du 4 avril au 4 juillet 2015
      br
      | De 10 h à 18 h
    h5 Entrée libre
    p 
      | Sur rendez-vous, en semaine,
      br
      | visite commentée pour groupes. 
    p 
      | Minimum 10 personnes 
      br
      | (CHF 10.- par personne).
    p Malheureusement, pas d’accès pour 
    p chaises roulantes. 
    h3.marginBottom2 Fermeture estivale 
    p du 5 juillet au 18 septembre 2015
    p 
      | Réouverture le samedi 19 septembre
      br
      | pour la nouvelle saison 2015 - 2016
    p
      a(href='#') Télécharger le programme et le plan