@import 'jeet'
@import '_settings'

normalize-css()
base()

body
  background-color grey

#left
  span(1/3)
  height 100%
  position fixed
  overflow auto
  background-color alpha(white, .9)
  #menu-container
    padding gutter*2 gutter
  #logo
    margin-top gutter*2
    padding-bottom gutter*.5
    display inline-block
    img
      position relative
      center()
#right
  span(ratios:2/3,offset:1/3)
  footer
    cf()
    position fixed
    bottom 0
    background-color greyDark
    div
      span(1/4)